<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Main Menu
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            @DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by <a href="#">Sinan Tekin</a>
        </div>
    </div>
</footer>